<div class="container">
  Block number: <%= block.b_number%><br>
  Block hash: <%= block.b_hash%><br>
  Nonce: <%= block.b_nonce%><br>
  Parent hash: <%= block.b_parentHash%><br>
  Sha3Uncles: <%= block.b_sha3Uncles%><br>
  Size: <%= block.b_size%> bytes<br>
  Transactions: <%= render partial: 'blocks/transactions', locals: { block: block } %>
  TimeStamp: <%= DateTime.strptime(block.b_timestamp,'%s').utc%><br>
</div>

