<div class="container">
  <h2>Blocks</h2>         
  <table class="table table-striped">
    <tr>
     <th>Block number</th>
     <th>txns</th>
     <th>Size</th>
     <th>Timestamp</th>
    </tr>
    <% @blocks.each do |b| %>
    <tr>
      <td><%= link_to b.b_number, block_path(b.b_number) %> </td>
      <td> <%= render partial: 'transactions', locals: { block: b } %> </td>
      <td><%= b.b_size %></td>
      <td><%= DateTime.strptime(b.b_timestamp,'%s').utc %></td>
     </tr>
  <% end %>
  </table>
</div>
<%= will_paginate @blocks %>