<div class="container">
  Block hash: <%= transaction.t_blockHash %><br>
  Block number: <%=link_to transaction.t_blockNumber, block_path(transaction.t_blockNumber) %><br>
  From: <%=link_to transaction.t_from, address_path(transaction.t_from) %><br>
  To: <%= t.t_to.blank? ? "Contract creation" :  link_to t.t_to, address_path(t.t_to) %><br>
  Gas: <%= transaction.t_gas.to_f/10**9 %> Gwei<br>
  Value: <%= transaction.t_value.to_f/10**18 %><br>
  Gas price: <%= transaction.t_gasPrice.to_f/10**9 %> Gwei<br>
  Hash: <%= transaction.t_hash %><br>
  Input: <%= transaction.t_input %><br>
  Nonce: <%= transaction.t_nonce %><br>
  Transaction index: <%= transaction.t_transactionIndex %>
</div>
