<!DOCTYPE html>
<html>
  <head>
    <title>World Wi-Fi explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "World Wi-Fi explorer", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Blocks", blocks_path %></li>
          <li><%= link_to "Transactions", transactions_path %></li>
          <li><%= link_to "Contracts", contracts_path %></li>
        </ul>
        <%= form_tag("/search", method: "get", class: "navbar-form navbar-right") do %>
          <div class="form-group">
            <%= text_field_tag :q, "", class: 'form-control', placeholder: 'Address/ Txhash/ Block' %><br>
          </div>
          <%= submit_tag("Find", class: 'btn btn-default') %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>