<!DOCTYPE html>
<html>
  <head>
    <title>BlockchainService</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class = "search-form">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "Search") %>
        <%= text_field_tag(:q) %><br>
        <%= submit_tag("Find") %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
